<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Valley Futbol Club</title>
    </head>
    
    <body>
    {% extends 'base.html' %} {% block content %}
    <h1>About Valley Futbol Club</h1>
    <hr />
    <p>Check Out Valley FC</p>
    {% endblock %}
    <footer>All Rights Reserved, © 2022 Valley Futbol Club</footer>
</body>

</html>