
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Bebas Neue', cursive;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding-top: 0;
  font-size: 15px;
  text-align: center;
  background-color: rgb(65, 0, 0);
}

nav {
  background-color: rgb(65, 0, 0);
  text-align: left;
  
}